:root {
  --primary-white-color: #ffffff;
  --title-color: #212121;
  --text-primary-color: #757575;
  --link-contact-nav-color: #757575;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --background-secondary-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --accent-color: #2196f3;
  --soc-link-primary-color: #AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

/*сброс стилей от браузера*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
/* END */

/* классы-утилиты */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
/* END */

/* SECTION */
.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

/* BUTTON */
.button {
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.button.primary {
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
}

.button.secondary {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border: 1px solid var(--background-secondary-color);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  background-color: var(--background-secondary-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
}
/* BUTTON END */

/* HEADER */

.header .container {
  display: flex;
  align-items: center;
}

.header .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  align-items: centr;
  margin-right: auto;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.contact-nav-list {
  display: flex;
}

.contact-nav-item:not(:last-child) {
  margin-right: 30px;
}

.contact-nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
}

.contact-nav-link .telephone{
  padding: 0;
  margin: 0;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}


.contact-nav-link .envelope{
  width: 16px;
  height: 12px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-color);
  text-decoration: none;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.header.button-line{
  border-bottom: 1px solid #ECECEC;;
}
/* HEADER END */

/* HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--background-footer-color); 
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
 
  background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../images/hero/hero-optimize.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* HERO END */

/* FEATURE */

.feature-list {
  display: flex;
}

.feature-list-item {
  width: calc((100% - 3 * 30px) / 4);
}

.feature-list-item>.blank{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--background-secondary-color);
}

.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.feature-text {
  font-weight: 400;
  line-height: 1.71;
}
/* FEATURE  END*/

/* DIRECTIONS */
.directions {
  padding-bottom: 94px;
}

.directions-list {
  display: flex;
}

.directions-list-item {
  width: calc((100% - 30 * 2px) / 3);
}

.directions-list-item:not(:last-child) {
  margin-right: 30px;
}
/* DIRECTIONS END*/

/* TEAM */
.time {
  background-color: var(--background-secondary-color);
}

.time-list {
  display: flex;
}

.time-list-item {
  text-align: center;
  width: calc((100% - 3 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.time-list-item:not(:last-child) {
  margin-right: 30px;
}

.time-list-info{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.time-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.time-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-link-list{
  display: flex;
  
}

.social-link-btn{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--soc-link-primary-color);
}

.social-link-item:not(:last-child){
  margin-right: 10px;
}


.social-link-btn:hover,
.social-link-btn:focus{
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-link-img{
  fill: currentColor;
}
/* TEAM END */

/* KLIENTS */
.clients-list{
  display: flex;
}


.klients-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--soc-link-primary-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  color: var(--soc-link-primary-color);
  
}

.klients-btn:hover,
.klients-btn:focus{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-list-item:not(:last-child){
  margin-right: 30px;
}

.clients-img{
  fill: currentColor;
}

/* KLIENTS END*/

/* PORTFOLIO */

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.kard-list {
  display: flex;
  flex-wrap: wrap;
}

.kard-list-item {
  width: calc((100% - 2 * 30px) / 3);
}

.kard-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.kard-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.kard-list-item:hover,
.kard-list-item:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.kard-list-info{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid#eeeeee;
  border-right: 1px solid#eeeeee;
  border-bottom: 1px solid#eeeeee;

  background-color: var(--primary-white-color);
}

.kard-list-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.kard-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-primary-color);
}
/* PORTFOLIO END*/

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-footer-color);
}

.footer .container{
  display: flex;
}

.footer-contacts{
  margin-right: 70px;
}

.footer .logo {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.footer-address,
.footer-tel {
  font-weight: 400;
  line-height: 1.7;
}

.footer-address {
  margin-bottom: 9px;

  color: var(--primary-white-color);
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-tel {
  color: var(--link-footer-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}


.footer-join-text{
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16.4px;
  line-height: 1.19;
  color: var(--primary-white-color);
}

.footer .social-link-btn{
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link-btn:hover,
.footer .social-link-btn:focus{
  background-color: var(--accent-color);
}

/* FOOTER END*/


